<a href="https://colab.research.google.com/github/BenjaS180/Avance-AJAX/blob/main/Intro_Pandas_Numpy_Dataset_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas, NumPy y Dataset
Este notebook tiene como objetivo presentar los conceptos básicos de:
- **Pandas**: para manipulación de datos en forma tabular.
- **NumPy**: para operaciones numéricas eficientes.
- **Dataset**: concepto general de conjunto de datos para análisis o modelado.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Crear datos ficticios con NumPy
np.random.seed(42)
data = {
    'Edad': np.random.randint(18, 60, size=10),
    'Salario': np.random.randint(300000, 1500000, size=10),
    'Ciudad': np.random.choice(['Santiago', 'Valparaíso', 'Concepción'], size=10)
}
data

{'Edad': array([56, 46, 32, 25, 38, 56, 36, 40, 28, 28]),
 'Salario': array([1212756,  475203,  578167,  341090,  629365, 1413396, 1087201,
         627069, 1091743,  403355]),
 'Ciudad': array(['Santiago', 'Santiago', 'Valparaíso', 'Valparaíso', 'Santiago',
        'Santiago', 'Santiago', 'Concepción', 'Concepción', 'Concepción'],
       dtype='<U10')}

In [ ]:
# Convertir el diccionario a un DataFrame
df = pd.DataFrame(data)
df

   Edad  Salario      Ciudad
0    56  1212756    Santiago
1    46   475203    Santiago
2    32   578167  Valparaíso
3    25   341090  Valparaíso
4    38   629365    Santiago
5    56  1413396    Santiago
6    36  1087201    Santiago
7    40   627069  Concepción
8    28  1091743  Concepción
9    28   403355  Concepción

In [ ]:
# Ver estadísticas básicas del dataset creado con NumPy
print(df.describe())

# Filtrar personas mayores de 30 años
df[df['Edad'] > 30]

In [ ]:
# Descargar un dataset público desde internet
# Usaremos el dataset de Titanic como ejemplo

url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df_titanic = pd.read_csv(url)

# Mostrar las primeras filas
df_titanic.head()

In [ ]:
# Ver información básica del dataset
df_titanic.info()

# Estadísticas descriptivas
df_titanic.describe()

## 🧠 Ejercicios con el Dataset del Titanic

Ahora que tienes cargado el dataset, realiza los siguientes ejercicios para practicar lo aprendido:

### Ejercicio 1:
¿Cuántos pasajeros hay en total en el dataset?

### Ejercicio 2:
¿Cuál es la edad promedio de los pasajeros?

### Ejercicio 3:
¿Cuántos pasajeros sobrevivieron y cuántos no?

### Ejercicio 4:
Filtra y muestra los pasajeros que tenían más de 40 años y viajaban en primera clase (Pclass = 1).

### Ejercicio 5:
Crea una tabla resumen con el promedio de edad y tarifa (`Fare`) por clase (Pclass).

¡Listo! Ahora tienes una idea básica de cómo trabajar con NumPy y Pandas, y cómo manipular un dataset en Python.
Puedes experimentar cambiando valores o agregando nuevas columnas.