<a href="https://colab.research.google.com/github/BenjaS180/Avance-AJAX/blob/main/Intro_Pandas_Numpy_Dataset_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas, NumPy y Dataset
Este notebook tiene como objetivo presentar los conceptos b치sicos de:
- **Pandas**: para manipulaci칩n de datos en forma tabular.
- **NumPy**: para operaciones num칠ricas eficientes.
- **Dataset**: concepto general de conjunto de datos para an치lisis o modelado.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Crear datos ficticios con NumPy
np.random.seed(42)
data = {
    'Edad': np.random.randint(18, 60, size=10),
    'Salario': np.random.randint(300000, 1500000, size=10),
    'Ciudad': np.random.choice(['Santiago', 'Valpara칤so', 'Concepci칩n'], size=10)
}
data

{'Edad': array([56, 46, 32, 25, 38, 56, 36, 40, 28, 28]),
 'Salario': array([1212756,  475203,  578167,  341090,  629365, 1413396, 1087201,
         627069, 1091743,  403355]),
 'Ciudad': array(['Santiago', 'Santiago', 'Valpara칤so', 'Valpara칤so', 'Santiago',
        'Santiago', 'Santiago', 'Concepci칩n', 'Concepci칩n', 'Concepci칩n'],
       dtype='<U10')}

In [ ]:
# Convertir el diccionario a un DataFrame
df = pd.DataFrame(data)
df

   Edad  Salario      Ciudad
0    56  1212756    Santiago
1    46   475203    Santiago
2    32   578167  Valpara칤so
3    25   341090  Valpara칤so
4    38   629365    Santiago
5    56  1413396    Santiago
6    36  1087201    Santiago
7    40   627069  Concepci칩n
8    28  1091743  Concepci칩n
9    28   403355  Concepci칩n

In [ ]:
# Ver estad칤sticas b치sicas del dataset creado con NumPy
print(df.describe())

# Filtrar personas mayores de 30 a침os
df[df['Edad'] > 30]

In [ ]:
# Descargar un dataset p칰blico desde internet
# Usaremos el dataset de Titanic como ejemplo

url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df_titanic = pd.read_csv(url)

# Mostrar las primeras filas
df_titanic.head()

In [ ]:
# Ver informaci칩n b치sica del dataset
df_titanic.info()

# Estad칤sticas descriptivas
df_titanic.describe()

## 游 Ejercicios con el Dataset del Titanic

Ahora que tienes cargado el dataset, realiza los siguientes ejercicios para practicar lo aprendido:

### Ejercicio 1:
쮺u치ntos pasajeros hay en total en el dataset?

### Ejercicio 2:
쮺u치l es la edad promedio de los pasajeros?

### Ejercicio 3:
쮺u치ntos pasajeros sobrevivieron y cu치ntos no?

### Ejercicio 4:
Filtra y muestra los pasajeros que ten칤an m치s de 40 a침os y viajaban en primera clase (Pclass = 1).

### Ejercicio 5:
Crea una tabla resumen con el promedio de edad y tarifa (`Fare`) por clase (Pclass).

춰Listo! Ahora tienes una idea b치sica de c칩mo trabajar con NumPy y Pandas, y c칩mo manipular un dataset en Python.
Puedes experimentar cambiando valores o agregando nuevas columnas.